body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    overflow-x: hidden;
    background: url('background.jpg') center/cover no-repeat fixed;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgb(107, 107, 107);
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 150px;
    z-index: 1000;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #555;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #dd4040;
}

.content {
    padding: 20px;
    margin-top: 80px;
}
.tab-content {
    display: none;
}
.background-image-container {
    height: calc(100vh - 150px);
    margin-top: 250px;
    position: relative;
}
.tab-content.active {
    display: block
}
header {
    background-color: #000000;
    color: #241010;
    text-align: center;
    padding: 1px;
    font-family: 'Protest Strike';
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}      
.photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    height: 100%;

}
.photo-container {
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}


.photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;

}
.photo-container img:hover {
    transform: scale(1.15);
}
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
.photo-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    text-align: center;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1500;
}

.lightbox img {
    max-width: 80%;
    max-height: 80%;
}

.lightbox-description {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    text-align: center;
}
.nested-tabs {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.nested-tabs a {
    color: #fff;
    text-decoration: none;
    padding: 12px 25px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #912c2c;
    transition: background-color 0.3s;
}

.nested-tabs a:hover {
    background-color: #272727;
    
}

.nested-tab-content {
    display: center;
    padding: 20px;
}

.nested-tab-content.active {
    display: block;
}
.nested-tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.nested-photo-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.nested-photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;
}

.nested-photo-container:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.nested-photo-container img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.nested-photo-container p {
    flex-grow: 1;
    padding: 10px;
    margin: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #707070;
    font-size: 20px;
    border-radius: 0 0 12px 12px;
}
#tab4 {
    text-align: center;
    color:#8f8f8f;
    font-size: 28px;
    margin-bottom: 200px;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000000;
    padding: 8px;
}

th {
    background-color: rgba(0, 0, 0, 0.5);
}
.rank-image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
}


tr:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.centered-list {
    list-style: none;
    text-align: center;
    padding: 0;
    
}

.centered-list li {
    color: #cacaca;
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-list img {
    width: 300px;
    height: 300px;
    margin-right: 10px;
}
.text-container {
    background-color: rgba(61, 61, 61, 0.5);
    padding-top: 20px;
    border-radius: 10px;
}